.section
  %h3 Wunschliste
  %p
    Usergroups leben von Vortr채gen und dem Engagement der Teilnehmer.
    Wenn du ein Thema vermisst, oder n채hre Informationen zu speziellen Bereichen suchst,
    dann kannst du hier gerne etwas in die Wunschliste eintragen.

  %p
    Solltest du schon eine Idee zu einem Vortrag oder 채hnlichem haben,
    dann kannst du ihn hier eintragen, um Feedback von der Community zu bekommen.

  %p
    = link_to '&raquo;Eigenen Wunsch eintragen&laquo;'.html_safe, '#', name: 'new_wish', class: 'toggle'

  .toggle_new_wish.hide
    = simple_form_for @wish do |f|
      = f.input :name
      = f.input :activity, as: :radio, collection: Wish::ACTIVITIES, label_method: activity_type_label_method, prompt: 'Bitte w채hlen', label: false
      = f.input :description
      = f.button :submit

  - @wishes.each do |wish|
    %h3= wish.name
    %p.meta= wish_description wish
      
    %p= wish.description

.pagination
  = will_paginate @wishes
