%p
  Usergroups leben von Vorträgen und dem Engagement der Teilnehmer.
  Wenn du ein Thema vermisst, oder nähre Informationen zu speziellen Bereichen suchst,
  dann kannst du hier gerne etwas in die Wunschliste eintragen.

%p
  Solltest du schon eine Idee zu einem Vortrag oder ähnlichem haben,
  dann kannst du ihn hier eintragen, um Feedback von der Community zu bekommen.
%p.toggle
  = link_to '&raquo;Neuen Wunsch/Vorschlag eintragen&laquo;'.html_safe, '#', {:name => 'new_wish'}
.toggle_new_wish.hide
  = simple_form_for @wish do |f|
    = f.input :name
    = f.input :activity, :as => :radio, :collection => Wish::ACTIVITIES, :label_method => lambda{|key| {'WISH' => 'Ich wünsche mir', 'PROPOSAL' => 'Mein Thema ist'}[key]}, :prompt => 'Bitte wählen', :label => false
    = f.input :description
    = f.button :submit

- @wishes.each do |wish|
  %h2= wish.name
  %p= wish.description

  %em
    = link_to wish.user.nickname, wish.user.twurl
    = {'WISH' => 'wünscht sich diesen Vortrag', 'PROPOSAL' => 'möchte dieses Thema vorstellen'}[wish.activity]
  %p= "Das Thema wurde #{wish.votes.count} mal durchschnittlich mit #{wish.stars} von 5 Sternen bewertet"
  .vote
    Ich möchte dieses Thema mit
    = simple_form_for [wish, Vote.new] do |f|
      = f.input :count, :collection => 1..5, :prompt => 'Sternen', :label => false
      = f.button :submit

.pagination
  = will_paginate @wishes

