.section
  %h3 Wunschliste
  %p
    Usergroups leben von Vorträgen und dem Engagement der Teilnehmer.
    Wenn du ein Thema vermisst, oder nähre Informationen zu speziellen Bereichen suchst,
    dann kannst du hier gerne etwas in die Wunschliste eintragen.

  %p
    Solltest du schon eine Idee zu einem Vortrag oder ähnlichem haben,
    dann kannst du ihn hier eintragen, um Feedback von der Community zu bekommen.

  %p
    = link_to 'Eigenen Wunsch eintragen', '#', name: 'new_wish', class: 'toggle'

  .toggle_new_wish.hide
    = simple_form_for @wish do |f|
      = f.input :name
      = f.input :activity, as: :radio, collection: Wish::ACTIVITIES, label_method: lambda { |key| { 'WISH' => 'Ich wünsche mir', 'PROPOSAL' => 'Mein Thema ist'}[key] }, prompt: 'Bitte wählen', label: false
      = f.input :description
      = f.button :submit

  - @wishes.each do |wish|
    %h3= wish.name
    %p.meta= wish_description wish
      
    %p= wish.description

- content_for :pagination do
  = will_paginate @wishes
