= content_for(:page_title){wish.name}
%section
  .clearfix
    = likes
    %span.stars= stars(wish)
    .meta= meta(wish)
    - if wish.done?
      %p.meta= t("wish.already_done")

  %h2= wish.name
  %p= wish.description
