<%#
# Show

This view is the template for the show page.
It renders the attributes of a resource,
as well as a link to its edit page.

## Local variables:

- `page`:
  An instance of [Administrate::Page::Show][1].
  Contains methods for accessing the resource to be displayed on the page,
  as well as helpers for describing how each attribute of the resource
  should be displayed.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Show
%>

<% content_for(:title) { t("administrate.actions.show_resource", name: page.page_title) } %>

<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title">
    <%= content_for(:title) %>
  </h1>

  <div>
    <%= link_to(
      t("administrate.actions.edit_resource", name: page.page_title),
      [:edit, namespace, page.resource],
      class: "button",
    ) if valid_action?(:edit) && show_action?(:edit, page.resource) %>
  </div>
</header>

<% undone = Topic.ordered.undone %>
<% if undone.present? %>
  <header class="main-content__header" role="banner">
    <div>
      <% undone.each do |topic| %>
        <%= link_to(
          "Connect #{topic.name}",
          [:connect, namespace, page.resource, {topic_id: topic.id}],
          method: 'post',
          class: "button",
        ) %>
      <% end %>
    </div>
  </header>
<% end %>
<header class="main-content__header" role="banner">
  <div>
    <% if page.resource.github_issue? %>
      <%= link_to(
        "See Github-Issue...",
        github_issue_url(page.resource.github_issue),
        class: "button",
        target: '_blank',
      ) %>
    <% else %>
      <%= link_to(
      "Create Github-Issue...",
      github_new_issue_url,
      class: "button",
      target: '_blank',
      ) %>
    <% end %>
  </div>
</header>

<section class="main-content__body">
  <dl>    
    <% page.attributes.each do |_title, attributes| %>
      <% attributes.each do |attribute| %>
        <dt class="attribute-label" id="<%= attribute&.name %>">
        <%= t(
          "helpers.label.#{resource_name}.#{attribute&.name}",
          default: attribute.name.titleize,
        ) %>
        </dt>

        <dd class="attribute-data attribute-data--<%=attribute.html_class%>"
            ><%= render_field attribute, page: page %></dd>
      <% end %>
    <% end %>
  </dl>
</section>
