= form_for @participant do |f|
  -if @participant.errors.any?
    #error_explanation
      %h2= "#{pluralize(@participant.errors.count, "error")} prohibited this participant from being saved:"
      %ul
        - @participant.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :user
    = f.text_field :user
  .field
    = f.label :event
    = f.text_field :event
  .field
    = f.label :maybe
    = f.check_box :maybe
  .field
    = f.label :comment
    = f.text_area :comment
  .actions
    = f.submit 'Save'
