%h1 Listing participants

%table
  %tr
    %th User
    %th Event
    %th Maybe
    %th Comment
    %th
    %th
    %th

  - @participants.each do |participant|
    %tr
      %td= participant.user
      %td= participant.event
      %td= participant.maybe
      %td= participant.comment
      %td= link_to 'Show', participant
      %td= link_to 'Edit', edit_participant_path(participant)
      %td= link_to 'Destroy', participant, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Participant', new_participant_path
