%p#notice= notice

%p
  %b User:
  = @participant.user
%p
  %b Event:
  = @participant.event
%p
  %b Maybe:
  = @participant.maybe
%p
  %b Comment:
  = @participant.comment

= link_to 'Edit', edit_participant_path(@participant)
\|
= link_to 'Back', participants_path
