%section
  %h3 Profil bearbeiten
  %ul
    = render 'shared/users', users: [current_user]
  
  = semantic_form_for user do |f|
    = f.input :name
    %br
    = f.input :github
    %br
    = f.input :freelancer
    %br
    = f.input :available
    %br
    = f.buttons