.section
  %h3 Ruby Users

  - @users.each do |user|
    .user
      .avatar
        = image_tag user.image, width: 48, height: 48
        %span.rounded
      .info
        %strong= user.name
        %dl
          %dt Tweets:
          %dd= link_to user.nickname

          - cache("repos_#{user.nickname}", expires_in: 1.day) do
            - user_repos = repos user.github
            - unless user_repos.empty?
              %dt Beliebteste Github Repositories:
              %dd= repo_links user_repos
      %br.clear

.pagination
  = will_paginate @users
