%h2 Ruby Users
%ul
  - @users.each do |user|
    %li.users
      = link_to user.twurl do
        = image_tag user.image, :class => 'fiximages'
        #{user.name} (#{user.nickname})
    - r = user.repos
    - unless r.empty?
      .repos
        %h4 Beliebteste GitHub Repositories:
        %ul
          - user.repos.each do |repo|
            %li
              = link_to repo.name, repo.url

.pagination
  = will_paginate @users
