.section
  %h3 Ruby Users

  - @users.each do |user|
    .user
      .avatar
        = image_tag user.image, :width => 48, :height => 48
        %span.rounded
      .info
        %strong= user.name
        %dl
          %dt Tweets:
          %dd= link_to user.nickname

          - cache("repos_#{user.nickname}", :expires_in => 1.second) do
            - r = repos user.github
            - unless r.empty?
              %dt Beliebteste Github Repositories:
              %dd= r.map { |repo| link_to repo.name, repo.url }.join(", ").html_safe
      %br.clear

.pagination
  = will_paginate @users
