%section.clearfix
  #imprint.block
    %h2= t("footer.imprint")
    %ul
      %li= mail_to 'jakob@railslove.com', 'Jakob Hilden'
      %li= mail_to 'hello@donschado.de', 'Marco Schaden'
      %li= link_to "Railslove GmbH", "http://railslove.com"
      %li Deutz-Mülheimer Straße 129<br>51063 Köln
  #contact.block
    %h2= t("footer.contact")
    %ul
      %li= link_to_twitter(Whitelabel[:twitter])
      %li= mail_to Whitelabel[:email], 'E-Mail'
  #links.block
    %h2= t("footer.links")
    %ul
      %li= link_to 'Github', 'http://github.com/phoet/hamburg_on_ruby'
      %li= link_to 'Mailinglist', 'http://mailman.headflash.com/listinfo/rubyonrails-ug'

%hr

%section.clearfix
  #usergroups.block
    %h2= t("footer.other_usergroups")
    %ol.clearfix
      %li
        = link_to 'Cologne.js', 'http://colognejs.de/'
        = link_to_twitter('cgnjs', clung: true)
      %li
        = link_to 'DevHouse Friday', 'http://devhousefriday.org/'
        = link_to_twitter('devhousefriday', clung: true)
      %li
        = link_to 'NoSQL User Group Cologne', 'http://www.nosql-cologne.org/'
        = link_to_twitter('nosqlcgn', clung: true)
      %li
        = link_to 'pyCologne', 'http://wiki.python.de/pycologne/'
        = link_to_twitter('pycologne', clung: true)
    %p
      Eine größere Sammlung von Usergroups im Kölner Raum findest du auf
      = link_to "Hacking.de", "http://hcking.de/"
