%section.clearfix
  #contact.block
    %h2= t("footer.contact")
    %ul
      %li= link_to "Twitter", (Whitelabel[:twitter])
      %li= mail_to Whitelabel[:email], 'E-Mail'
  #links.block
    %h2= t("footer.links")
    %ul
      %li= link_to 'Github', 'http://github.com/phoet/on_ruby'
      %li= link_to 'Mailinglist', (Whitelabel[:mailing_list] || 'http://mailman.headflash.com/listinfo/rubyonrails-ug')
  #imprint.block
    %h2= t("footer.imprint")
    %ul
      %li
        - imprint[:contributors].each do |contributor|
          = mail_to contributor[:email], contributor[:name]
      %li= raw imprint[:address].gsub("\n", "<br/>")

  #usergroups.block
    %h2= t("footer.other_usergroups")
    %ol.clearfix
      - other_usergroups.each do |ug|
        %li
          = link_to ug[:name], ug[:url]
          = link_to_twitter(ug[:twitter], clung: true) if ug[:twitter]

  #railsgroups.block
    %h2= t("footer.ruby_usergroups")
    %ol.clearfix
      - Whitelabel.labels.each do |label|
        %li
          = link_to t("label.#{label.label_id}.name"), root_url(subdomain: label.label_id)
          = link_to_twitter(label.twitter, clung: true)
