- if flash.present?
  = hint do
    - flash.each do |key, value|
      %strong{class: key}= value
- elsif highlights.present?
  = hint(false) do
    - highlights.each do |highlight|
      .highlights
        %strong= t("hint.attention")
        = link_to highlight.description, highlight.url
- elsif jobs.present?
  - unless current_user && current_user.hide_jobs?
    #jobs
      = hint(false) do
        .reload= link_to t("hint.other_job"), '#'
        - jobs.each do |job|
          .jobs= raw t("hint.job_description", job_link: content_tag(:strong, link_to(job.name, job.url)), company_link: link_to(job.location.name, job.location.url))
