#login
  -if signed_in?
    %h3= t("login.hello", nickname: current_user.nickname)
    %ul
      %li= link_to t("login.profile"), edit_user_path(current_user)
      %li= link_to t("login.logout"), destroy_session_path(current_user)
  -else
    %ul
      %li= link_to t("login.twitter_login"), auth_path
  #locale
    %ul
      -[:de, :en].each do |locale|
        %li= link_to image_tag("flags/#{locale}.png"), locale: locale
