.user
  .avatar
    = image_tag user.image, :width => 48, :height => 48
    %span.rounded
  .info
    %strong
      = user.name
      = ('(' + link_to_twitter(user) + ')').html_safe

    - if user.github
      %dl.tooltip_trigger
        %dt Github:
        %dd= link_to_github user
      .tooltip
        - cache("repos_#{user.nickname}", expires_in: 1.day) do
          - r = repos user.github
          - unless r.empty?
            %h4 Beliebteste Github Repositories:
            %ul
              - r.each do |repo| 
                %li= link_to repo.name, repo.url

  %br.clear

