= section_box :companies do
  %p= map(companies, zoom: 12)
  %p
    Viele der Teilnehmer an der Usergroup arbeiten
    = link_to 'in diesen Firmen', company_locations_path
    und wir freuen uns immer über neue Gesichter.
  %p
    Solltest du eine Firma vermissen, dann schicke uns einfach eine
    = mail_to AppConfig.email, "E-Mail"
    oder Direct-Message an
    = raw(link_to_twitter(main_user) + '.')
