= section_box :events do
  %p
    - if current_event
      - uid = 'current_event'
      .tooltip
        = link_to 'Das nächste Treffen', current_event, {name: uid, class: 'toggle'}
        findet am
        %em= l(current_event.date)
        bei 
        = link_to current_event.location.name, current_event.location.url
        statt!
        = tooltip_box(uid, class: 'big') do
          %p= current_event.description.truncate(80)
          %ul
            - current_event.topics.each do |topic|
              %li= topic.name
          %p= link_to 'mehr', current_event
    - else
      Das nächste Treffen finde voraussichtlich am
      %em= "#{l(next_event_date)}"
      statt.
    
  %h3 Vergangene Treffen
  %ul.clearfix
    - events.each do |event|
      - uid = "event_#{event.id}"
      %li.tooltip
        = link_to "#{l(event.date, format: :date)} - #{event.name}", event, {name: uid, class: 'toggle'}
        = tooltip_box(uid, class: 'big') do
          %p= event.description.truncate(80)
          %ul
            - event.topics.each do |topic|
              %li= topic.name
          %p= link_to 'mehr', event
/ = link_to 'Alle Treffen', '#' TODO hier noch per AJAX alle Events laden