= section_box :events do
  %p
    - if current_event
      = fancy_link_to 'Das nächste Treffen', current_event
      findet am
      %em= l(current_event.date)
      bei 
      = link_to current_event.location.name, current_event.location.url
      statt!
    - else
      Das nächste Treffen findet voraussichtlich am
      %em= "#{l(next_event_date)}"
      statt.
    
  %h3 Vergangene Treffen
  %ul.clearfix
    - events.each do |event|
      %li= fancy_link_to "#{l(event.date, format: :date)} - #{event.name}", event

