%ul.imagelist.clearfix
  - users.each do |user|
    - uid = "#{user.id}_#{rand(100)}"
    %li.tooltip
      = image_tag user.image, class: 'toggle', name: uid
      = tooltip_box(uid) do
        %p= user.name
        %dl
          %dt Twitter:
          %dd= link_to_twitter user
          - if user.github
            %dt Github:
            %dd= link_to_github user