= render 'events', events: events, current_event: current_event
%hr
= render 'people', people: people
%hr
= render 'locations', locations: locations
%hr
= render 'wishes', wishes: wishes, organizers: organizers    
%hr
= render 'companies', companies: companies
