= render 'events', events: events, current_event: current_event
%hr
= render 'people', people: people
%hr
= render 'locations', locations: locations
%hr
= render 'wishes', wishes_done: wishes_done, wishes_undone: wishes_undone, organizers: organizers
%hr
= render 'companies', companies: companies
