<div class="grid grid-cols-1 gap-y-8 sm:grid-cols-2 sm:gap-x-5 sm:gap-y-6 md:grid-cols-3 lg:col-span-3 bg-gray-100 p-6 rounded">
  <% events.each do |event| %>
    <%= link_to(event, title: event.name, class: "block group border rounded border-gray-200 bg-white") do %>
      <figure class="grid grid-cols-1">
        <div class="relative">
          <div class="absolute w-full">
            <div class="float-left m-2">
              <%= render('events/live') %>
            </div>
            <div class="float-right m-2">
              <%= render('events/badge') { event.name } %>
            </div>
          </div>
          <%= image_tag(event.image_url, alt: event.name, class: 'h-48 w-full') %>
        </div>
        <figcaption class="p-3">
          <p class="text-sm font-medium text-gray-900"><%= event.name %></p>
          <p class="text-sm text-gray-500"><%= l(event.date, format: :short) %></p>
          <p class="flex p-3">
            <% event.users.each do |user| %>
              <%= user_image(user, image_class: 'mr-2 rounded-full border-primary bg-gray-100 h-5') %>
            <% end %>
          </p>
        </figcaption>
      </figure>
    <% end %>
  <% end %>
</div>
