= render 'events', events: events, current_event: current_event
= render 'people', people: people
= render 'locations', locations: locations
= render 'wishes', wishes_done: wishes_done, wishes_undone: wishes_undone, organizers: organizers
= render 'companies', companies: companies
