%section.events
  %a{id: 'events'}
  %h2 Events:
  -if current_event
    %p
      = link_to 'Das nächste Event', current_event
      findet am
      %strong= l(current_event.date)
      bei 
      = link_to current_event.location.name, current_event.location.url
      statt!
  %ul
    - events.each do |event|
      %li= raw("#{l(event.date, format: :date)}: #{link_to event.name, event}")
  / = link_to 'Alle Events', '#' TODO hier noch per AJAX alle Events laden
    
%hr
%section.people
  %a{id: 'people'}
  %h2 Leute
  = render 'shared/users', users: users

%hr
%section.locations
  %a{id: 'locations'}
  %h2 Orte
  .map_canvas{'data-map' => locations.to_json, 'data-init' => {zoom: 14, lat: locations.first.lat, long: locations.first.long}.to_json}
%hr
%section.wishes
  %a{id: 'wishes'}
  %h2 Themen
  %p
    Möchtest du einen Vortrag auf der Rails Usergroup halten oder hast du zusätzliche Themenvorschläge?
    Dann schicke uns einfach eine
    = mail_to AppConfig.email, "E-Mail"
    oder spreche uns persönlich an:
  %ul
    = render 'shared/users', users: organizers
  %p
    Usergroups leben von Vorträgen und dem Engagement der Teilnehmer.
    Wenn du ein Thema vermisst, oder nähre Informationen zu speziellen Bereichen suchst,
    dann kannst du hier gerne etwas in die Wunschliste eintragen.
  %p
    Solltest du schon eine Idee zu einem Vortrag oder ähnlichem haben,
    dann kannst du ihn hier eintragen, um Feedback von der Community zu bekommen.
    = render 'wishes/add_wish', wish: Wish.new
  %ul
    = render whishes
    
%hr
/ %section.companies
/   %a{id: 'companies'}
/   %h2 Firmen
/   .map_canvas{'data-map' => locations.to_json, 'data-init' => {zoom: 14, lat: locations.first.lat, long: locations.first.long}.to_json}
/ %hr
/ %section.usergroups
/   %a{id: 'usergroups'}
/   %h2 Gruppen
/ %hr