.section
  %h3 Ruby Events
  %ul
    - @events.each do |event|
      %li
        %b= link_to event.name, event
        %p
          #{l(event.date)} bei #{event.location.name}
        - if can?(:manage, Event) and !event.published?
          %p= link_to 'Event publizieren (Twitter, Rails Usergroup, XING)', publish_event_path(event)

- content_for :pagination do
  = will_paginate @events
