.section
  %h3= @event.name
  %p
    %b= link_to l(@event.date), event_path(@event, :format => :ics), :class => 'ical'
    gehostet durch
    = link_to @event.user.nickname, @event.user.twurl
    bei
    = link_to @event.location.name, @event.location.url

  %p= @event.description

  %p
    %strong
      -if current_user
        - if current_user.participates?(@event)
          = link_to '&raquo;Ich möchte mich abmelden&laquo;'.html_safe, event_participant_path(@event, current_user.participation(@event)), :method => 'delete'
        -else
          = link_to '&raquo;Ich möchte mich anmelden&laquo;'.html_safe, add_user_event_path(@event)
      - else
        = link_to '&raquo;Ich möchte mich anmelden&laquo;'.html_safe,  auth_path

  - unless @event.topics.empty?
    %h3 Themen:
    %ul
      - @event.topics.each do |t|
        %li
          = t.name
          - if t.user
            = "(#{t.user.nickname})"
          %p= t.description

  - unless @event.materials.empty?
    %h3 Material:
    %ul
      - @event.materials.each do |m|
        %li
          = link_to m.name, m.url, :class => m.material_type
          - if m.user
            = "(#{m.user.nickname})"
          %p= m.description

  - unless @event.participants.empty?
    %h3 Teilnehmer:
    %ul.participants
      - @event.participants.each do |p|
        %li
          = link_to p.user.twurl do
            = image_tag(p.user.image)

  %h3 Anfahrt:
  - l = @event.location
  #map_canvas{ 'data-map' => l.to_json }
    #map_info_content
      %h4= l.name
    %p
      #{l.street} #{l.house_number}
      %br
      #{l.zip} #{l.city}
    %p
      =link_to l.url, l.url
