.section.vevent
  %h3.summary= event.name
  %p
    %abbr.dtstart.url{title: event.date}= link_to l(event.date), event_path(event, format: :ics), class: 'ical'
    %abbr.dtend.hide{title: event.date + 3.hours}= l(event.date + 4.hours)
    gehostet durch
    = link_to_twitter event.user
    bei
    = link_to event.location.name, event.location.url

  %p.description= event.description

  = render 'participate'
  = render 'publish'

  = render 'topics'
  = render 'materials'
  = render 'participants'
  = render 'map'
