-if @event
  #event
    %h2
      =@event.name
      =render :partial => 'shared/participate_button'
    %p
      %em
        =l @event.date
        gehostet durch
        =link_to @event.user.nickname, "http://twitter.com/#{@event.user.nickname}"
        bei
        =link_to @event.location.name, @event.location.url
      
    %p=@event.description
    
    %h3
      Themen:
    %ul
      - @event.topics.each do |t|
        %li=t.name
    
    %div
      = link_to '#', :class => :button do
        =image_tag('plus.png')
        Thema hinzufügen
    #add_topics.clear
      = simple_form_for [@event, Topic.new] do |f|
        = f.input :name
        = f.input :description
        = f.association :user
        = f.button :submit
    .clear
    %h3
      Material:
    %ul
      - @event.materials.each do |m|
        %li=link_to(m.name, m.url)
      
    %h3
      Teilnehmer:
    .users
      %ul
        - @event.participants.each do |p|
          %li=image_tag(p.user.image)
    .clear
    %h3 Anfahrt:
    #map_canvas{'data-map'=>@event.location.to_json}
