-if @event
  #event
    %h2
      =@event.name
      =render :partial => 'shared/participate_button'
    %p
      %em
        =l @event.date
        gehostet durch
        =link_to @event.user.nickname, "http://twitter.com/#{@event.user.nickname}"
        bei
        =link_to @event.location.name, @event.location.url
      
    %p=@event.description
    
    %h3
      .show_hide
        = link_to '#', :name => 'topics', :class => 'button' do
          =image_tag('plus.png')
          Thema hinzufügen
      Themen:
    %ul
      - @event.topics.each do |t|
        %li
          %h4
            =t.name
            -if t.user
              ="(#{t.user.nickname})"
            = link_to [@event, t], :method => :delete, :class => 'button' do
              =image_tag('minus.png')
              %span Thema löschen
          %p=t.description
    %div
      #add_topics.box
        = simple_form_for [@event, Topic.new] do |f|
          = f.input :name
          = f.input :description
          = f.association :user
          = f.button :submit
        .clear
    .clear
    %h3
      .show_hide
        = link_to '#', :name => 'materials', :class => 'button' do
          =image_tag('plus.png')
          Material hinzufügen
      Material:
    %ul
      - @event.materials.each do |m|
        %li
          %h4
            =link_to m.name, m.url, :class => m.material_type
            -if m.user
              ="(#{m.user.nickname})"
            = link_to [@event, m], :method => :delete, :class => 'button' do
              =image_tag('minus.png')
              %span Material löschen
          %p=m.description
    %div
      #add_materials.box
        = simple_form_for [@event, Material.new] do |f|
          = f.input :name
          = f.input :url, :as => :url
          = f.input :material_type, :collection => Material::TYPES
          = f.input :description
          = f.association :user
          = f.button :submit
        .clear
    .clear
    %h3
      Teilnehmer:
    .users
      %ul
        - @event.participants.each do |p|
          %li=image_tag(p.user.image)
    .clear
    %h3 Anfahrt:
    #map_canvas{'data-map'=>@event.location.to_json}
