.section
  %h3= @event.name
  %p
    %b= link_to l(@event.date), event_path(@event, format: :ics), class: 'ical'
    gehostet durch
    = link_to @event.user.nickname, @event.user.twurl
    bei
    = link_to @event.location.name, @event.location.url

  %p= @event.description

  %p
    %strong
      - if current_user
        - if current_user.participates?(@event)
          = link_to 'Ich möchte mich abmelden', event_participant_path(@event, current_user.participation(@event)), method: 'delete'
        - else
          = link_to 'Ich möchte mich anmelden'.html_safe, add_user_event_path(@event)
      - else
        = link_to 'Ich möchte mich anmelden'.html_safe,  auth_path

  - if can?(:manage, Event) and not @event.published?
    %p
      %strong
        = link_to 'Event publizieren (Twitter, Rails Usergroup)', publish_event_path(@event)

  - unless @event.topics.empty?
    %h4 Themen:
    %ul
      - @event.topics.each do |t|
        %li
          = t.name
          - if t.user
            = "(#{t.user.nickname})"
          %p= t.description

  - unless @event.materials.empty?
    %h4 Material:
    %ul
      - @event.materials.each do |m|
        %li
          = link_to m.name, m.url, class: m.material_type
          - if m.user
            = "(#{m.user.nickname})"
          %p= m.description

  - unless @event.participants.empty?
    %h4 Teilnehmer:
    %ul.participants
      - @event.participants.each do |p|
        %li
          = link_to p.user.twurl do
            .avatar
              = image_tag p.user.image, :width => 48, :height => 48
              %span.rounded
    %br.clear

  %h4 Anfahrt:
  - l = @event.location
  #map_canvas{ 'data-map' => l.to_json }
  #map_info_content
    %strong= l.name
    %br
    #{l.street} #{l.house_number}
    %br
    #{l.zip} #{l.city}
    %br
    =link_to l.url, l.url
