= content_for(:page_title){event.name}
%section
  = likes
  %h2= event.name
  %p= simple_format event.description
  %p.meta
    = link_to l(event.date), event_path(event, format: :ics), class: 'ical'
    = t("show.hosted_by")
    = link_to_twitter event.user
    = t("show.at")
    = link_to event.location.name, event.location.url
  %p= participation_link(event)

  - if event.participants.present?
    %h3= t("show.attendees")
    %p= render 'home/users_list', users: event.participants.map(&:user)

  = render "part", event: event, type: :topics

  = render "part", event: event, type: :materials

  %h3= t("show.route")
  = map(event.location, lat: event.location.lat, long: event.location.long)
