= content_for(:page_title){event.name}
%section
  = likes
  %h2= event.name
  %p= simple_format event.description
  %p.meta
    = link_to l(event.date), event_path(event, format: :ics), class: 'ical'
    gehostet durch
    = link_to_twitter event.user
    bei
    = link_to event.location.name, event.location.url

  %h3 Themen
  - if event.topics.present?
    %ul.enumeration
      - event.topics.each do |t|
        %li
          %strong= t.name
          - if t.user
            = link_to_twitter(t.user, clung: true)
          %p= t.description
  - else
    %strong Es sind noch keine Themen eingetragen.

  %h3 Material
  - if event.materials.present?
    %ul.enumeration
      - event.materials.each do |m|
        %li
          = link_to m.name, m.url
          - if m.user
            = link_to_twitter(m.user, clung: true)
          %p= m.description
  - else
    %strong Es ist noch kein Material eingetragen.
%hr
%section
  - if event.date > Time.now
    .topbutton
      %strong
        - if current_user
          - if current_user.participates?(event)
            = button_to 'Ich möchte mich abmelden', event_participant_path(event, current_user.participation(event)), method: 'delete'
          - else
            = button_to 'Ich möchte mich anmelden', add_user_event_path(event)

  %h2 Teilnehmer
  - if event.participants.present?
    = render = render 'home/users_list', users: event.participants.map(&:user)
  - else
    %strong Es ist noch niemand angemeldet.

  %h3 Anfahrt
  = map(event.location, lat: event.location.lat, long: event.location.long)
