<html>
  <head>
    <title><%= @event.name %></title>
  </head>
  <body>
    <h1><%= @event.name %></h1>
    <p><%= @event.description %></p>
    <h2>Folgende Themen sind vorgesehen:</h2>
    <ul>
      <% @event.topics.each do |topic| %>
        <li><%= topic.name %></li>
      <% end %>
    </ul>
    <p>Mehr Informationen findet ihr auf <%= link_to("hamburg.onruby.de", event_url(@event)) %>.</p>
    <p>Bis bald!</p>
  </body>
</html>