%section.clearfix
  #imprint.block
    %h2= t("footer.imprint")
    %ul
      %li= mail_to 'mail@dennisreimann.de', 'Dennis Reimann'
      %li Hansator 1</br>28217 Bremen
  #contact.block
    %h2= t("footer.contact")
    %ul
      %li= link_to 'Twitter', 'http://twitter.com/hackhb'
      %li= mail_to Whitelabel[:email], 'E-Mail'
  #links.block
    %h2= t("footer.links")
    %ul
      %li= link_to 'Github', 'http://github.com/phoet/hamburg_on_ruby'
      %li= link_to 'Mailinglist', 'http://mailman.headflash.com/listinfo/rubyonrails-ug'
%hr

%section.clearfix
  #usergroups.block
    %h2= t("footer.other_usergroups")
    %ol
      %li
        = link_to 'Agile Gruppe Bremen', 'http://agb.wikispaces.com/'
      %li
        = link_to 'CocoaHeads Bremen', 'http://cocoaheads.org/de/Bremen/index.html'
        = link_to_twitter('CocoaHeadsHB', clung: true)
