= form_for @material do |f|
  -if @material.errors.any?
    #error_explanation
      %h2= "#{pluralize(@material.errors.count, "error")} prohibited this material from being saved:"
      %ul
        - @material.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :url
    = f.text_field :url
  .field
    = f.label :type
    = f.select(:type, Material::TYPES.collect {|t| [ t, t ] }, { :include_blank => true })
  .field
    = f.label :user_id
    = f.select(:user_id, User.all.collect {|u| [ u.to_s, u.id ] }, { :include_blank => true })
  .field
    = f.label :event_id
    = f.select(:event_id, Event.all.collect {|e| [ e.to_s, e.id ] }, { :include_blank => true })
  .actions
    = f.submit 'Save'
