%p#notice= notice

%p
  %b Name:
  = @material.name
%p
  %b Description:
  = @material.description
%p
  %b Url:
  = @material.url
%p
  %b Type:
  = @material.type
%p
  %b User:
  = @material.user
%p
  %b Event:
  = @material.event

= link_to 'Edit', edit_material_path(@material)
\|
= link_to 'Back', materials_path
