= form_for @location do |f|
  -if @location.errors.any?
    #error_explanation
      %h2= "#{pluralize(@location.errors.count, "error")} prohibited this location from being saved:"
      %ul
        - @location.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :url
    = f.text_field :url
  .field
    = f.label :street
    = f.text_field :street
  .field
    = f.label :house_number
    = f.text_field :house_number
  .field
    = f.label :city
    = f.text_field :city
  .field
    = f.label :zip
    = f.text_field :zip
  .field
    = f.label :lat
    = f.text_field :lat
  .field
    = f.label :long
    = f.text_field :long
  .actions
    = f.submit 'Save'
