%h1 Listing locations

%table
  %tr
    %th Name
    %th Url
    %th Street
    %th House number
    %th City
    %th Zip
    %th Lat
    %th Long
    %th
    %th
    %th

  - @locations.each do |location|
    %tr
      %td= location.name
      %td= location.url
      %td= location.street
      %td= location.house_number
      %td= location.city
      %td= location.zip
      %td= location.lat
      %td= location.long
      %td= link_to 'Show', location
      %td= link_to 'Edit', edit_location_path(location)
      %td= link_to 'Destroy', location, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Location', new_location_path
