%p#notice= notice

%p
  %b Name:
  = @location.name
%p
  %b Url:
  = @location.url
%p
  %b Street:
  = @location.street
%p
  %b House number:
  = @location.house_number
%p
  %b City:
  = @location.city
%p
  %b Zip:
  = @location.zip
%p
  %b Lat:
  = @location.lat
%p
  %b Long:
  = @location.long

= link_to 'Edit', edit_location_path(@location)
\|
= link_to 'Back', locations_path
