!!!
%html
  %head
    %title Hamburg on Ruby
    = stylesheet_link_tag "screen"
    = auto_discovery_link_tag :rss, rss_events_path, :title => "Event-Feed"
    = csrf_meta_tag
    = include_gritter_and_jquery

  %body
    .layout
      .header
        .title
          %h1= link_to "Hamburg on Ruby", root_url
          %h2 Heimathafen der Hamburger Ruby-Community

      .cellwrap
        .cell
          %ul#menu
            = awesome_link_to :info,    info_url
            = awesome_link_to :events,  events_url
            = awesome_link_to :users,   users_url
            = awesome_link_to :wishes,  wishes_url
            = awesome_link_to :imprint, imprint_url
            
            .login
              - if current_user
                =awesome_link_to :logout, destroy_session_path, :name => current_user.nickname
              - else
                =awesome_link_to :login, auth_path

        .cell
          #stage
            =flash_growl
            = yield
            .pagination
              = yield :pagination

    = render :partial => 'shared/script'
