!!! utf-8
%html
  %head
    %title= page_title

    %meta{charset: "utf-8"}
    %meta{name: "description", content: "#{title} - #{subtitle} - #{meta_desc}"}
    %meta{name: "author", content: "Peter Schröder"}

    %link{rel: 'shortcut icon', href: image_path('logo_icon.png')}

    = auto_discovery_link_tag :rss, rss_events_path, title: "Event-Feed"
    = csrf_meta_tag
    = stylesheet_link_tag "application"
    = javascript_include_tag "application", "https://maps.google.com/maps/api/js?sensor=true", "https://apis.google.com/js/plusone.js", "https://platform.twitter.com/widgets.js"

    :javascript
      I18n.showMore = '#{t("home.show_more")}';

  %body
    = fork_me_ribbon
    .container
      %header#on_ruby
        = render 'shared/login'
        #logo= link_to(image_tag('/assets/logo.png', alt: title, title: title), root_path)
        %h1= link_to title, root_path
        %h2= link_to subtitle, root_path
      %nav#nav
        = render 'shared/nav'
      .main
        = render 'shared/hint'
        = yield
        = render 'shared/script'
    %footer
      = render_labeled :footer
  = render 'shared/info'
