!!!
%html
  %head
    %title Hamburg on Ruby
    = stylesheet_link_tag "reset", "screen"
    = javascript_include_tag "http://fast.fonts.com/jsapi/3fa79afb-ff00-4703-b36c-1e33df7636b0.js"
    = auto_discovery_link_tag :rss, rss_events_path, :title => "Event-Feed"
    = csrf_meta_tag

  %body
    %nav
      .center
        %ul.left

          - if current_user
            %li= link_to "#{current_user.nickname} abmelden", destroy_session_path
          - else
            %li= link_to "Anmelden via Twitter", auth_path

          %li= link_to "Events", events_url
          %li= link_to "Mitglieder", users_url

        %ul.right
          %li= link_to "Twitter", "http://twitter.com/hamburgsync"
          %li= link_to "E-Mail", "mailto:#{AppConfig.email}"
          %li= link_to "Event-Feed", rss_events_path(:type => :rss)

        %br.clear

    %header
      .center
        %h1= link_to "Hamburg on Ruby", root_url
        %h2 Website der Hamburger Ruby-Community

        %a.event{ :href => "#" }
          %strong Letztes Event:
          %ul
            %li &raquo;Das Weihnachtstreffen bei blau.de&laquo;
            %li Mittwoch, 08. Dezember 2010, 19:00 Uhr

        %a.event{ :href => "#" }
          %strong Nächstes Event:
          %ul
            %li &raquo;Best of 2010 bei Xing&laquo;
            %li Mittwoch, 05. Januar 2011, 19:00 Uhr

        %br.clear

    %section.main
      .center
        #flash
          - if notice
            .flash.notice= notice
          - if alert
            .flash.error= alert

        = yield
        %br.clear

    %footer.infos
      .center

    %footer.imprint
      .center
        %ul
          %li Impressum:
          %li Peter Schröder
          %li Schanzenstr. 85
          %li 20357 Hamburg
          %li 0178-1391035
          %li= link_to "E-Mail", "phoetmail@googlemail.com"
          %li= link_to "Twitter", "http://twitter.com/phoet"
          %li= link_to "XING", "https://www.xing.com/profile/peter_schroeder2"

        %br.clear
