!!!
%html
  %head
    %title Hamburg on Ruby
    = stylesheet_link_tag 'screen'
    = auto_discovery_link_tag :rss, rss_events_path, title: "Event-Feed"
    = csrf_meta_tag
    = javascript_include_tag('https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js', 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js', 'http://maps.google.com/maps/api/js?sensor=true', 'humane.js', 'rails.js', 'application.js')

  %body
    .container
      %header#hor
        = render 'shared/login'
        #logo= link_to(image_tag('/images/logo.png'), root_path)
        %h1= link_to 'Hamburg on Ruby', root_path
        %h2= link_to 'Heimathafen der Hamburger Ruby-Community', root_path
      %nav#nav
        %ul
          %li
            = link_to '/#hor' do
              %p.logo.ir HoR
          - [:events, :people, :locations, :wishes, :companies].each do |it|
            %li= link_to t(it), "/##{it}"
          %li
            = link_to '/#hor' do
              %p.logo.ir HoR
      .main
        = flash_growl
        = yield
        = render 'shared/script'
    %footer
      %section.clearfix
        #imprint
          %h2 Impressum
          %ul
            %li= mail_to 'phoetmail@googlemail.com', 'Peter Schröder'
            %li Schanzenstr. 85</br>20357 Hamburg
        #contact
          %h2 Kontakt
          %ul
            %li= link_to 'Twitter', 'http://twitter.com/hamburgsync'
            %li= mail_to AppConfig.email, 'E-Mail'
        #links
          %h2 Links
          %ul
            %li= link_to 'Github', 'http://github.com/phoet/hamburg_on_ruby'
            %li= link_to 'Mailingliste', 'http://mailman.headflash.com/listinfo/rubyonrails-ug'

        