!!!
%html
  %head
    %title Hamburg on Ruby
    = stylesheet_link_tag "screen"
    = auto_discovery_link_tag :rss, rss_events_path, :title => "Event-Feed"
    = csrf_meta_tag

  %body
    .layout
      .header
        .title
          %h1= link_to "Hamburg on Ruby", root_url
          %h2 Heimathafen der Hamburger Ruby-Community

      .cellwrap
        .cell
          %ul#menu
            = awesome_link_to :events, events_url
            = awesome_link_to :users, users_url
            = awesome_link_to :wishes, wishes_url

        .cell
          #stage
            = yield
      .layout_footer

    .footer
      = yield :pagination
