!!!
%html
  %head
    %title Hamburg on Ruby
    = stylesheet_link_tag 'screen', 'bold-dark'
    = auto_discovery_link_tag :rss, rss_events_path, title: "Event-Feed"
    = csrf_meta_tag
    = javascript_include_tag('https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js', 'http://cdn.jquerytools.org/1.2.5/jquery.tools.min.js', 'http://maps.google.com/maps/api/js?sensor=true', 'humane.js', 'rails.js', 'application.js')

  %body
    .layout
      .header
        .title
          %h1= link_to "Hamburg on Ruby", root_url
          %h2 Heimathafen der Hamburger Ruby-Community

      .cellwrap
        .cell
          %ul#menu
            = menu
            = login
            = user_entries
        .cell
          #stage
            = flash_growl
            = yield
            
    = render partial: 'shared/script'
