!!!
%html
  %head
    %title Hamburg on Ruby
    = stylesheet_link_tag 'boilerplate'
    = auto_discovery_link_tag :rss, rss_events_path, title: "Event-Feed"
    = csrf_meta_tag
    = javascript_include_tag('https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js', 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js', 'http://maps.google.com/maps/api/js?sensor=true', 'rails.js', 'application.js')

  %body
    .container
      %header
        #login
          = login
        %a{id: 'hor'}
        #logo= image_tag '/images/logo.png'
        %h1 Hamburg on Ruby
        %h2 Heimathafen der Hamburger Ruby-Community
      %nav.nav
        %ul
          %li.logo= link_to 'HoR', '/#hor'
          %li= link_to 'Events', '/#events'
          %li= link_to 'Leute', '/#people'
          %li= link_to 'Orte', '/#locations'
          %li= link_to 'Themen', '/#wishes'
          %li= link_to 'Firmen', '/#companies'
          / %li=link_to 'Gruppen', '#usergroups'
      .main{role: "main"}
        = yield
      %footer
        %section.clearfix
          #contact
            %h2 Kontakt
            %dl
              %dt E-Mail:
              %dd= mail_to AppConfig.email
              %dt Twitter:
              %dd= link_to '@hamburgsync', 'http://twitter.com/hamburgsync'
            = link_to 'Impressum', imprint_path
          #links
            %h2 Links
            %dl
              %dt Github:
              %dd= mail_to AppConfig.email
              %dt Mailingliste:
              %dd= link_to '@hamburgsync', 'http://twitter.com/hamburgsync'

        