!!!
%html
  %head
    %title Hamburg on Ruby
    = stylesheet_link_tag 'boilerplate', 'bold-dark'
    = auto_discovery_link_tag :rss, rss_events_path, title: "Event-Feed"
    = csrf_meta_tag
    = javascript_include_tag('https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js', 'http://cdn.jquerytools.org/1.2.5/jquery.tools.min.js', 'http://maps.google.com/maps/api/js?sensor=true', 'humane.js', 'rails.js', 'application.js')

  %body
    .container
      %header
        %a{id: 'hor'}
        %h1 Hamburg on Ruby
        %h2 Heimathafen der Hamburger Ruby-Community
      %nav.nav
        %ul
          %li=link_to 'HoR', '#hor'
          %li=link_to 'Events', '#events'
          %li=link_to 'Leute', '#people'
          %li=link_to 'Orte', '#locations'
          %li=link_to 'Wünsche', '#wishes'
          %li=link_to 'Firmen', '#companies'
          %li=link_to 'Gruppen', '#usergroups'
      .main{role: "main"}
        = yield
      %footer
        %section
          %h2 Impressum
        %section
          %h2 Likes
        