!!!
%html
  %head
    %title Hamburg on Ruby
    = stylesheet_link_tag "screen"
    = auto_discovery_link_tag :rss, rss_events_path, title: "Event-Feed"
    = csrf_meta_tag
    = include_gritter_and_jquery

  %body
    .layout
      .header
        .title
          %h1= link_to "Hamburg on Ruby", root_url
          %h2 Heimathafen der Hamburger Ruby-Community

      .cellwrap
        .cell
          %ul#menu
            = menu
            = login
            = user_entries
        .cell
          #stage
            = flash_growl
            = yield
            
    = render partial: 'shared/script'
