!!!
%html
  %head
    %title Hamburg on Ruby
    = stylesheet_link_tag "screen"
    = auto_discovery_link_tag :rss, rss_events_path, :title => "Event-Feed"
    = csrf_meta_tag

  %body
    .header
      %h1= link_to "Hamburg on Ruby", root_url
      %h2 Heimathafen der Hamburger Ruby-Community

    .cell
      %ul#menu
        %li
          %span &nbsp;
          %b= link_to "Events", events_url
        %li
          %span &nbsp;
          %b= link_to "Mitglieder", users_url
        %li
          %span &nbsp;
          %b= link_to "Wunschliste", wishes_url

    .cell
      #stage
        = yield
