!!! 5
%html
  %head
    %title
    =stylesheet_link_tag('screen', :media => 'screen, projection')
    =stylesheet_link_tag('print', :media => 'print')
    /[if lt IE 8]
      =stylesheet_link_tag('ie', :media => 'screen, projection')
    = csrf_meta_tag
  %body
    #container
      %header
        #welcome
          #login
            -if current_user
              Hallo #{current_user.email}
              herzlich willkommen bei #{hor}:
              =link_to 'Profil', edit_user_registration_path
              =link_to 'Termine', events_path
              =link_to 'Abmelden', destroy_user_session_path
            -else
              Hallo und herzlich willkommen bei #{hor}:
              =link_to 'Anmelden', new_user_session_path
              or
              =link_to 'Registrieren', new_user_registration_path
          #icons
            TWITTER
            RSS
            MAIL
          
        #logo
          -link_to(root_path) do
            =image_tag('logo.gif')
        %h1=hor
        #preview
          %ul
            -@preview_events.each do |event|
              %li=link_to("#{event.date} #{event.name}", event_path(event))
      %sidebar
        - @tweets.each do |tweet|
          %li=tweet.text
      %section
        #content
          #flash
            -unless flash.empty?
              %p.notice= notice
              %p.alert= alert
          = yield
      %footer
        #sponsors
          %h2 Sponsoren:
          =image_tag('logo.gif')
          =image_tag('logo.gif')
          =image_tag('logo.gif')
          
    =javascript_include_tag('http://maps.google.com/maps/api/js?sensor=true', 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js', 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js', 'rails.js', 'base.js')
