!!! 5
%html
  %head
    %title
    = raw stylesheet_link_merged('screen', :media => 'screen, projection')
    = raw stylesheet_link_merged('print', :media => 'print')
    /[if lt IE 8]
      = raw stylesheet_link_merged('ie', :media => 'screen, projection')
    = csrf_meta_tag
  %body
    #container
      %header
        #login
          -if current_user
            Hi #{current_user.email},
            =link_to 'Logout', destroy_user_session_path
          -else
            =link_to 'Login', new_user_session_path
            or
            =link_to 'Register', new_user_registration_path
        %h1 Hamburg &hearts;n Ruby
        -unless flash.empty?
          %p.notice= notice
          %p.alert= alert
      %sidebar SIDEBAR
      %section#content= yield
      %footer FOOTER
    %script{ :type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" }
    %script{ :type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js" }
    = raw javascript_include_merged(:base)
